.header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 2%;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 1.5rem;
}

.flexThreeInAROW {
  flex: 0 0 20%;
}

.flexOneInAROW {
  flex: 0 0 100%;
}

.subNavBar {
  flex: 0 0 100%;
}

.closedSubNavBar {
  display: none;
}